/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f0;
  }
 main {
  display: flex;
  flex-direction: row;
 } 
  /* Header Styles */
  header {
    background-color: #f0f0e8;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  header nav {
    display: flex;
    gap: 10px;
  }
  
  header p {
    margin: 0;
    cursor: pointer;
    font-size: 14px;
  }
  
  header p:hover {
    color: #666;
  }
  
  /* Main Content Styles */
  .content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: max-content;
  }

  .FAQs {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #e4e4e4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(175, 153, 153, 0.1);
  }
  footer {
    background-color: #f0f0e8;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #expenseChart {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  .UserInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .edit {
    margin-right: 20px;
  }
  
  #appName {
    font-size: 20px;
    font-weight: bold;
  }
  
  #currentExpense, #currentDate, #usersName, #remainingBudget, #myBudget {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Form Styles */
  #addExpensesSection {
    background-color: #f5f5f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  #addExpenseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  #formSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #43a047;
  }
  
  /* Table Styles */
  #viewExpensesSection {
    background-color: #f5f5f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  #expensesSummary {
    background-color: #f5f5f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 140px;
    margin-left: 10px;
    width: 500px;
  
  }
  .viewSummary {
    width: max-content;
    text-align: left;

  }
  #expensesTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0e8;
    color: #333;
  }
  
  td {
    border-top: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f0f0e8;
  }
  .table-actions {
    display: flex;
    flex-direction: row;
  }

  #sortButton + .dropdown-menu a.active {
    font-weight: bold;
    background-color: #f1f1f1;
  }
  .exp {
    margin-left: 15px;
    list-style: circle;
  }

  .editing {
    padding: 10px;
    text-align: left;
  }

  #deleteButton {
    background-color: rgb(209, 66, 66);
    color: white;
    margin-left: 2px;
    border-radius: 10px;
  }

    /* records-modal */
#recordsButton {
  margin-left: 90%;
  display: flex;
  color: black;
  background-color: skyblue;
  font-weight: bold;
}

#recordsButton:hover {
  background-color: gray;
  color: white;
}

.records-modal .modal-dialog {
  max-width: 600px;
}

.records-modal .modal-content {
  padding: 10px;
  border: 1px solid #888;
  background-color: #fefefe;
}

.records-modal .modal-header .btn-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.records-modal .modal-header .btn-close:hover,
.records-modal .modal-header .btn-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
